/*! CSS framework */
// ==========================================================================
/* Made from https://milligram.io, http://usewing.ml and custom code ********/

// Colors
:root {
    --bg-color: #EBE7E0; /* RGBA (235, 231, 224, 1) Alabaster */
    --font-color: #35312D; /* RGBA (53, 49, 45, 1) Masala darker */
    --primary-color: #46413D; /* RGBA (70, 65, 61, 1) Masala */
    --cta-yellow: #FFE66D; /* RGBA (255, 230, 109, 1) */
    --cta-red: #FF5349; /* RGBA (255, 83, 73, 1) */
    
    --primary-grey: #5D5652; /* RGBA (93, 86, 82, 1) */
    --secondary-grey: #736B67; /* RGBA (115, 107, 103, 1) */
    --light-grey: #968F8D; /* RGBA (150, 143, 141, 1) */
    --silver-grey: #C1BBB7; /* RGBA (193, 187, 183, 1) */
    
    --cta-yellow-dark: #AF9D4B; /* RGBA (175, 157, 75, 1) */
    --cta-yellow-light: #FFEE9B; /* RGBA (255, 238, 155, 1) */
    --cta-red-dark: #C03E37; /* RGBA (192, 62, 55, 1) */
    --cta-red-light: #FF7E77; /* RGBA (255, 126, 119, 1) */
    
    --black-color: #011115; /* RGBA (1, 17, 21, 1) */
    --white-color: #ffffff; /* RGBA (255, 255, 255, 1) */
}

.icon {
    display: block;
    fill: var(--font-color);
    vertical-align: middle;
}

/* Cards */
.cards .flex-img {
    margin-bottom: 0;
    display: block;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 100%;
    height: auto;
    width: 100%;
    *width: auto;
}

.cards .card-body {
    flex: 1 1 auto;
    overflow: hidden;
    padding: 2em 0 0 0;
    
    @media screen and (max-width: 768px) {
        padding: 2em 4em 0;
    }
}

.cards .card-footer {
    overflow: hidden;
    align-items: center;
    padding: 0 2em 2em 2em;
    display: flex;
    justify-content: flex-end;
    
    @media screen and (max-width: 768px) {
        padding: 0 4em 2em;
    }
}


/*!
  * Milligram v1.4.1
  * https://milligram.io
  *
  * Copyright (c) 2020 CJ Patoilo
  * Licensed under the MIT license
 */
*,
*:after,
*:before {
    box-sizing: inherit;
}

blockquote {
    border-left: 0.3rem solid #d1d1d1;
    margin-left: 0;
    margin-right: 0;
    padding: 1rem 1.5rem;
}

blockquote *:last-child {
    margin-bottom: 0;
}

b,
strong {
  font-weight: bold;
}

table {
    border-spacing: 0;
    display: block;
    overflow-x: auto;
    text-align: left;
    width: 100%;
}

td,
th {
    border-bottom: 0.1rem solid #e1e1e1;
    padding: 1.2rem 1.5rem;
}

td:first-child,
th:first-child {
    padding-left: 0;
}

td:last-child,
th:last-child {
    padding-right: 0;
}

@media (min-width: 40rem) {
    table {
        display: table;
        overflow-x: initial;
    }
}


/**
 * Wing v1.0.0-beta 
 * Copyright 2016-2018 Kabir Shah
 * Released under the MIT License
 * http://usewing.ml
 */

/* Grid */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    position: relative;
    
    @media screen and (max-width: 768px) {
        width: 80%;
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}

.row > :first-child {
    margin-left: 0;
}

.col {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.col,
[class^='col-'],
[class*=" col-"] {
    //margin-left: 4%;
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

.col-4 {
    flex: 4;
}

.col-5 {
    flex: 5;
}

.col-6 {
    flex: 6;
}

.col-7 {
    flex: 7;
}

.col-8 {
    flex: 8;
}

.col-9 {
    flex: 9;
}

.col-10 {
    flex: 10;
}

.col-11 {
    flex: 11;
}

.col-12 {
    flex: 12;
}

@media screen and (max-width: 768px) {
    .col,
    [class^='col-'],
    [class*=" col-"] {
        //margin: 1rem 0;
        flex: 0 0 100%;
    }
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 16px;
}

h1 {
    font-size: 37.009px;
    line-height: 1.3;
}

h2 {
    font-size: 32.182px;
    line-height: 1.35;
}

h3 {
    font-size: 27.984px;
    line-height: 1.4;
}

h4 {
    font-size: 24.334px;
    line-height: 1.45;
}

h5 {
    font-size: 21.16px;
    line-height: 1.5;
}

h6 {
    font-size: 18.4px;
    line-height: 1.55;
}

p,
address {
    font-size: 16px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 33.311px;
    }
    
    h2 {
        font-size: 29.479px;
    }
    
    h3 {
        font-size: 26.088px;
    }
    
    h4 {
        font-size: 23.086px;
    }
    
    h5 {
        font-size: 20.43px;
    }
    
    h6 {
        font-size: 18.08px;
    }
}

/* Forms and buttons */
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=number],
input[type=file],
input[type=tel],
input[type=url],
select,
textarea {
    height: 48px;
    line-height: 48px;
    width: auto;
    padding: 0 16px;
    font-size: 14px;
    background: var(--bg-color);
    border: 2px solid var(--light-grey);
    border-radius: 0;
    transition: all 0.2s ease;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover,
input[type=search]:hover,
input[type=number]:hover,
input[type=file]:hover,
input[type=tel]:hover,
input[type=url]:hover,
select:hover,
textarea:hover {
    border-color: var(--silver-grey);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=file]:focus,
input[type=tel]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: var(--white-color);
}

textarea {
    min-height: 70px;
}

button,
.button,
[type=submit] {
    -webkit-appearance: none;
    display: inline-flex;
    height: 48px;
    line-height: 48px;
    padding: 0 30px;
    outline: none;
    text-decoration: none;
    color: var(--primary-color);
    background: var(--cta-yellow);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid var(--cta-yellow);
    border-radius: 0;
    box-shadow: 5px 5px 0 0 var(--light-grey);
    cursor: pointer;
    transition: all 0.2s ease;
    
    @media screen and (max-width: 480px) {
        padding: 0 20px;
    }
}

button.small,
.button.small {
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    font-size: 12px;
}

button.red,
.button.red {
    background: var(--cta-red);
    border-color: var(--cta-red);
}

.button .icon {
    width: 48px;
    height: 48px;
}

.button.small .icon {
    width: 36px;
    height: 36px;
}

button:hover,
.button:hover,
[type=submit]:hover,
button:focus,
.button:focus,
[type=submit]:focus {
    opacity: 0.9;
    box-shadow: 3px 3px 0 0 var(--light-grey);
}

button:active,
.button:active,
[type=submit]:active {
    opacity: 0.7;
}
button[disabled],
.button[disabled],
[type=submit][disabled] {
    opacity: 0.8;
    cursor: not-allowed;
}

button.outline,
.button.outline,
[type=submit].outline {
    color: #111;
    background: none;
}

button.outline:hover,
.button.outline:hover,
[type=submit].outline:hover,
button.outline:focus,
.button.outline:focus,
[type=submit].outline:focus {
    color: #f5f5f5;
    background: #111;
}


/*  Checkbox & radio inputs
    https://codepen.io/aaroniker/pen/ZEYoxEY */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    
    input[type='checkbox'],    
    input[type='radio'] {
        --active: #46413D;
        --active-inner: #fff;
        --focus: 2px rgba(32, 25, 21, .3);
        --border: #46413D;
        --border-hover: #5D5652;
        --background: #fff;
        --disabled: #968F8D;
        --disabled-inner: #968F8D;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        -webkit-transition: background .3s, border-color .3s, box-shadow .2s;
        transition: background .3s, border-color .3s, box-shadow .2s;
    }
    
    input[type='checkbox']:after,
    input[type='radio']:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
        transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    }
    
    input[type='checkbox']:checked,
    input[type='radio']:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    
    input[type='checkbox']:disabled,
    input[type='radio']:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;
    }
    
    input[type='checkbox']:disabled:checked,
    input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }
    
    input[type='checkbox']:disabled + label,
    input[type='radio']:disabled + label {
        cursor: not-allowed;
    }
    
    input[type='checkbox']:hover:not(:checked):not(:disabled),
    input[type='radio']:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }
    
    input[type='checkbox']:focus,
    input[type='radio']:focus {
        box-shadow: 0 0 0 var(--focus);
    }
    
    input[type='checkbox']:not(.switch),
    input[type='radio']:not(.switch) {
        width: 21px;
    }
    
    input[type='checkbox']:not(.switch):after,
    input[type='radio']:not(.switch):after {
        opacity: var(--o, 0);
    }
    
    input[type='checkbox']:not(.switch):checked,
    input[type='radio']:not(.switch):checked {
        --o: 1;
    }
    
    input[type='checkbox'] + label,
    input[type='radio'] + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }

    input[type='checkbox']:not(.switch) {
        border-radius: 0;
    }
    
    input[type='checkbox']:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        -webkit-transform: rotate(var(--r, 20deg));
                transform: rotate(var(--r, 20deg));
    }
    
    input[type='checkbox']:not(.switch):checked {
        --r: 43deg;
    }
    
    input[type='checkbox'].switch {
        width: 38px;
        border-radius: 11px;
    }
    
    input[type='checkbox'].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        -webkit-transform: translateX(var(--x, 0));
                transform: translateX(var(--x, 0));
    }
    
    input[type='checkbox'].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }
    
    input[type='checkbox'].switch:disabled:not(:checked):after {
        opacity: .6;
    }

    input[type='radio'] {
        border-radius: 50%;
    }
    
    input[type='radio']:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        -webkit-transform: scale(var(--s, 0.7));
                transform: scale(var(--s, 0.7));
    }
    
    input[type='radio']:checked {
        --s: .5;
    }
}


/* List */
ul,
ol {
    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 0;
    list-style-position: inside;
}

ul li,
ol li {
    margin-bottom: 16px;
}
ul li:last-child,
ol li:last-child {
    margin-bottom: 0;
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-left: 16px;
}

/* Box */
.box {
    margin-bottom: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    border: 1px solid #a7a7a7;
    border-radius: 2px;
}

/* Navigation
=============================*/
.nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.nav .nav-item {
    margin-right: 16px;
}

.nav .nav-item:last-child {
    margin-right: 0;
}

/* Card */
.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    border: 1px solid #a7a7a7;
    border-radius: 2px;
}

.card .card-content {
    margin: 0;
    padding: 16px;
}

.card .card-image {
    display: block;
    height: auto;
    width: 100%;
}

/* Divider */
hr {
    border-width: 0.5px;
    border-color: #a7a7a7;
}

/* Utilities */
.size-full-height {
    min-height: 100vh;
}

.size-full-width {
    width: 100%;
}

.size-full {
    width: 100%;
    min-height: 100vh;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.direction-vertical {
    flex-direction: column;
}

.direction-horizontal {
    flex-direction: row;
}

.center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.float-right {
    float: right;
}
