/*! Pages */
// ==========================================================================

/* Default page */
.page-content {
    border-top: 5px solid var(--silver-grey);
    border-bottom: 5px solid var(--light-grey);
    padding: 3em 0;
}

/* Page Advantages */
/* Products page */
.advantages-list {
    list-style: none;
    border-top: 3px solid var(--light-grey);
    display: grid;
    grid-gap: 50px 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style-type: none;
    padding: 40px 0;
    margin: 0;
}

.advantages-list li {
    position: relative;
    display: flex;
    flex-direction: column;
    //border-top: 3px solid var(--light-grey);
    //border-bottom: 3px solid var(--light-grey);
    background-color: var(--silver-grey);
    box-shadow: 7px 7px 0 0 var(--light-grey);
    padding: 30px 50px;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 28px;
    line-height: 1.3;
    font-weight: 900;
    font-style: italic;
    justify-content: center;
    .transition04;
}

.advantages-list li:hover,
.advantages-list li:focus {
    box-shadow: 3px 3px 0 0 var(--light-grey);
}

.advantages-list svg {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 60px;
    height: 60px;
    fill: var(--light-grey);
    //z-index: -1;
}

@media (max-width: 640px) {
    .product-list {
        grid-gap: 60px 10px;
        grid-template-columns: repeat(auto-fit, minmax(154px, 1fr));
    }
}

/* Members section */
.members-section {
    
    .col,
    [class^='col-'],
    [class*=" col-"] {
        margin-left: 4em;
        
        @media screen and (max-width: 768px) {
            margin: 1em 0;
        }
    }
    
    .row > :first-child {
        margin-left: 0;
    }
}

.row.members-content {
    margin: 1em 0 2em;
    padding-top: 3em;
    border-top: 5px solid var(--light-grey);
}

.row.members-content > :last-child {
    border-left: 3px solid var(--light-grey);
    padding-left: 4em;
    
    @media screen and (max-width: 768px) {
        border-left: none;
        padding-left: 0;
    }
}

.row.members-content h2 {
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 700;
}

#loginform {
    
    .login-username,
    .login-password {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin-bottom: 24px;
    }
    
    .lost-password {
        display: block;
        font-size: 14px;
        margin: 0 auto 16px;
    }
}

.woocommerce-form {
    
    .woocommerce-form-row,
    .form-row {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin-bottom: 24px;
    }
    
    .form-row button {
        width: max-content;
        margin-top: 16px;
    }
    
    .lost_password {
        display: block;
        font-size: 14px;
        margin: 0 auto 16px;
    }
}


/* Help section */
.help-section {
    
    .col,
    [class^='col-'],
    [class*=" col-"] {
        margin-left: 4em;
        
        @media screen and (max-width: 768px) {
            margin: 1em 0;
        }
    }
    
    .row > :first-child {
        margin-left: 0;
    }
}

.row.help-content {
    margin: 1em 0 2em;
    padding-top: 3em;
    border-top: 5px solid var(--light-grey);
}

.row.help-content > :last-child {
    border-left: 3px solid var(--light-grey);
    padding-left: 4em;
    
    @media screen and (max-width: 768px) {
        border-left: none;
        padding-left: 0;
    }
}

.row.contact-content {
    
    address,
    p {
        font-size: 18px;   
    }
}

.radio-client {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    margin: 24px 0 0;
}

.radio-client span,
.radio-help span {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.radio-client label {
    display: flex;
}

.radio-client label input {
    margin-right: 5px;
}

.radio-help span {
    margin-top: 5px;
}

.radio-fields {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.box-fields {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: var(--font-color);
    background-color: var(--white-color);
    box-shadow: 2px 2px 0 0 var(--light-grey);
    padding: 20px 0;
    margin-bottom: 20px;
    opacity: 0.25;
    transition: opacity 0.3s 0s;
    pointer-events: none;
    //cursor: not-allowed;
}

.box-fields p {
    margin-left: 20px;
    margin-right: 20px;
}

.box-fields input {
    //cursor: not-allowed;
}

.box-fields p {
    margin-bottom: 0;
}

.box-fields label span {
    font-size: 14px;
    line-height: 1.4;
}

@media screen and (max-width: 768px) {
    .box-fields {
        flex: 0 0 100%;
    }
}

.box-fields.togglefield {
    opacity: 1;
    pointer-events: auto;
    box-shadow: 5px 5px 0 0 var(--silver-grey);
}

.box-fields.togglefield input {
    //cursor: auto;
}

.not-client {
    //background: #228B22;
}

.client {
    //background: #0000ff;
}

.client input[type="text"] {
    width: calc(100% - 32px);
    width: ~"calc(100% - 32px)";
}

.p-accept {
    font-size: 14px;
}

