/*! Plugins */
// ==========================================================================

/* mgAccordion https://github.com/marqusG/mgAccordion */
.mg-accordion,
.mg-accordion ul {
	list-style-type: none;
    margin-bottom: 0;
}

.mg-accordion .submenu {
	display: none;
    margin-top: 14px;
    //background-color: var(--bg-color);
}

.products-menu,
.mg-flat {
	width: auto;
}

.mg-flat span.toggler{
	//float: right;
}

.products-menu ul ul {
    margin-left: 24px;
}

.products-menu li {
    margin-bottom: 14px;
}

.products-menu li.dropdown a,
.products-menu li a {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    line-height: 36px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--font-color);
    border-bottom: 3px solid var(--font-color);
    text-decoration: none;
    padding: 0;
}

.products-menu li a::before {
    /*position: relative;
    content: '';
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cpath d='M113.6 498C52 498 2 448 2 386.4s50-111.6 111.6-111.6 111.6 50 111.6 111.6S175.2 498 113.6 498zm272.8 0c-61.6 0-111.6-50-111.6-111.6s50-111.6 111.6-111.6S498 324.8 498 386.4 448 498 386.4 498zM113.6 225.2C52 225.2 2 175.2 2 113.6S52 2 113.6 2s111.6 50 111.6 111.6-50 111.6-111.6 111.6zm272.8 0c-61.6 0-111.6-50-111.6-111.6S324.8 2 386.4 2 498 52 498 113.6s-50 111.6-111.6 111.6zm0-49.6c34.2 0 62-27.8 62-62s-27.8-62-62-62-62 27.8-62 62 27.8 62 62 62zm-272.8 0c34.2 0 62-27.8 62-62s-27.8-62-62-62-62 27.8-62 62 27.8 62 62 62zm272.8 272.8c34.2 0 62-27.8 62-62s-27.8-62-62-62-62 27.8-62 62 27.8 62 62 62zm-272.8 0c34.2 0 62-27.8 62-62s-27.8-62-62-62-62 27.8-62 62 27.8 62 62 62z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
    margin: 0 40px 0 0;*/
}

.products-menu li.dropdown a:hover,
.products-menu li a:hover,
.products-menu li.dropdown a:focus,
.products-menu li a:focus {
    background-color: var(--bg-color);
}

.home .products-menu li.dropdown a:hover,
.home .products-menu li a:hover,
.home .products-menu li.dropdown a:focus,
.home .products-menu li a:focus {
    background-color: var(--white-color);
}

.products-menu .submenu li.dropdown a,
.products-menu .submenu li a {
    border-bottom-width: 1px;
    border-bottom-color: var(--primary-grey);
}

.products-menu li a.openItem {
	
}

.products-menu li a span.toggler {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    margin-left: auto;
}

.products-menu li a.openItem span {
	//transform: rotate(180deg);
}

.products-menu li a span.toggler::after {
    position: relative;
    content: '+';
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--cta-yellow);
    box-shadow: 4px 4px 0 0 var(--light-grey);
	transition: all 0.4s;
    margin-left: 100px;
    margin-right: 4px;
    margin-bottom: 5px;
}

.products-menu li a:hover span.toggler::after {
    box-shadow: 2px 2px 0 0 var(--light-grey);
}

.products-menu li a.openItem span.toggler::after {
    content: '-';
}


