/*! Shop */
// ==========================================================================

/* Single product page */
.single-product-section {
    
    .row {
        margin-bottom: 10px;
    }
    
    .col,
    [class^='col-'],
    [class*=" col-"] {
        margin-left: 25px;
        
        @media screen and (max-width: 768px) {
            margin-left: 0;
        }
    }
    
    .row > :first-child {
        margin-left: 0;
    }
    
    .col-title {
        margin: 0 0 15px;
    }
}

.single-product-section .image ul {
    list-style: none;
}

.single-product-section .image img {
    box-shadow: 5px 5px 0 0 var(--silver-grey);
}

.product_header .col {
    border-top: 9px solid var(--light-grey);
    border-bottom: 9px solid var(--light-grey);
    padding: 5px 0 20px;
}

.product_header .col:first-child {
    
    @media screen and (max-width: 768px) {
        border-bottom: none;
    }
}

.product_header .col:last-child p {
    font-size: 40px;
    line-height: 44px;
    text-align: center;
}

.product_content {
    border-bottom: 3px solid var(--light-grey);
}

.product_content .col {
    border-top: 3px solid var(--light-grey);
    padding: 5px 0 20px;
}

.product_content .row:last-child .col {
    border-bottom: 3px solid var(--light-grey);
    padding: 5px 0 30px;
}

.product_content .row:last-child .col:first-child {
    
    @media screen and (max-width: 768px) {
        border-bottom: none;
    }
}

.product_downloads {
    margin-top: 20px;
}

.col-title {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
    background-color: var(--font-color);
    padding: 0 10px;
}

.breadcrumbs {
    font-size: 24px;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 0;
}

.breadcrumbs li {
    display: inline-flex;
    margin: 0;
}

.breadcrumbs li:last-child {
    display: none;
}

.breadcrumbs a {
    color: var(--font-color);
    border-bottom: 1px dotted var(--font-color);
    line-height: 1.2;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: var(--cta-red);
    border-bottom-color: transparent;
}

.product_title {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 7px 0 0;
}

.product_downloads .button .icon {
    width: 24px;
    margin-left: 10px;
}

.suitable {
    display: flex;
    align-items: center;
}

.suitable svg {
    width: 30px;
    height: 30px;
    margin: 0 3px 0 0;
    fill: var(--cta-yellow-dark);
}

/* Categories page */
.categories-section {
    
    .col,
    [class^='col-'],
    [class*=" col-"] {
        margin-left: 4em;
        
        @media screen and (max-width: 768px) {
            margin-left: 0;
        }
    }
    
    .row > :first-child {
        margin-left: 0;
    }
    
    .header-wrapper {
        display: flex;
    }
    
    .header-wrapper h1 {
        font-size: 20px;
        line-height: 1.3;
        text-transform: uppercase;
        font-weight: 400;
    }
    
    .header-wrapper h1 a {
        color: var(--font-color);
        border-bottom: 1px dotted var(--font-color);
    }
    
    .header-wrapper h1 a:hover,
    .header-wrapper h1 a:focus {
        color: var(--cta-red);
        border-bottom-color: transparent;
    }
    
    .header-wrapper h1::after {
        position: relative;
        content: '\002F';
        text-align: center;
        font-size: 20px;
        margin: 0 5px;
    }
}

.page-breadcrumbs {
    font-size: 20px;
    line-height: 1.3;
    text-transform: uppercase;
    margin: 0 auto 2em;
}

.page-breadcrumbs li {
    display: inline-flex;
    margin: 0;
}

.page-breadcrumbs li:last-child {
    font-weight: 700;
}

.page-breadcrumbs a {
    color: var(--font-color);
    border-bottom: 1px dotted var(--font-color);
}

.page-breadcrumbs a:hover,
.page-breadcrumbs a:focus {
    color: var(--cta-red);
    border-bottom-color: transparent;
}

.product-categories li {
    border-bottom: 3px solid var(--font-color);
    margin-bottom: 20px;
}

.product-categories li a {
    display: block;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;
    color: var(--font-color);
    text-decoration: none;
    padding: 7px 0 3px;
}

.product-categories li.current-cat a {
    font-weight: 700;
}

.product-categories li a:hover,
.product-categories li a:focus {
    background-color: var(--white-color);
}

.cat-list {
    list-style: none;
    border-top: 9px solid var(--light-grey);
    padding: 18px 0;
}

.cat-list li {
    border-top: 3px solid var(--light-grey);
    border-bottom: 3px solid var(--light-grey);
    padding: 0;
    margin: 0 0 20px;
}

.cat-list li a {
    display: flex;
    align-items: center;
    font-size: 32px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--font-color);
    font-weight: 700;
    margin: 0;
}

.cat-list li a:hover,
.cat-list li a:focus {
    background-color: var(--white-color);
}

.cat-list li a img {
    margin: 0 20px 0 0;
    max-width: 120px;
}

.cat-list li a::after {
    position: relative;
    content: '+';
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--cta-yellow);
    box-shadow: 5px 5px 0 0 var(--light-grey);
	transition: all 0.4s;
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: 0;
}

.cat-list li a:hover::after,
.cat-list li a:focus::after{
    box-shadow: 3px 3px 0 0 var(--light-grey);
}

/* Products page */
.product-list {
    list-style: none;
    border-top: 9px solid var(--light-grey);
    display: grid;
    grid-gap: 60px 20px;
    grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
    list-style-type: none;
    padding: 20px 0;
    margin: 0;
}

.product-list li {
    display: flex;
    flex-direction: column;
    border-top: 3px solid var(--light-grey);
    border-bottom: 3px solid var(--light-grey);
    padding: 10px 0 15px;
    margin: 0;
    .transition04;
}

.product-list li a:hover img,
.product-list li a:focus img {
    opacity: 0.7;
}

.product-list li h2 {
    flex: 1 0 auto;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;
}

.product-list li h2 a {
    color: var(--font-color);
}

.product-list li h2 a:hover,
.product-list li h2 a:focus {
    color: var(--cta-red);
}

.product-list .btn-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

@media (max-width: 640px) {
    .product-list {
        grid-gap: 60px 10px;
        grid-template-columns: repeat(auto-fit, minmax(154px, 1fr));
    }
}

