/*************************************
  * Filename: style.less
  * Website: http://papelycarton.com
  * Author: Sokvist
  * Author URI: http://sokvist.com
  * Date: 22/06/2020
  * Version: 1.0
**************************************/

@import "reset.less";
@import "framework.less";
@import "mixins.less";

/*
	*****************************************
	
    - General CSS
    - Custom
	- Header
    - Sections
    - footer
    
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;

*/


/*  General CSS*/
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);
    letter-spacing: 0.02em;
    
    font-size: 100%;
    
    @media (min-width: 768px) {
        font-size: 112.5%;
    }
}

body {
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.7;
}

a {
    color: var(--cta-red);
    text-decoration: none;
    .transition04;
}

a:focus {
    outline: 0;
}

a:hover,
a:focus {
    color: var(--link-color);
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

em {
    font-style: italic;
}

small {
    font-size: 0.7em;
}

address {
    font-style: normal;
}


/* Custom */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2em 4em 2em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 5;
    .transition04;
}

.scrolled header {
    position: fixed;
    align-items: center;
    padding: 0 4em 0 2em;
    background-color: var(--bg-color);
}

.logo {
    display: block;
    width: 280px;
    height: auto;
    .transition04;
    
    @media screen and (max-width: 1024px) {
        width: 260px;
    }
    
    @media screen and (max-width: 600px) {
        width: 180px;
    }
}

.home .logo {
    width: 360px;
    
    @media screen and (max-width: 1024px) {
        width: 260px;
    }
    
    @media screen and (max-width: 600px) {
        width: 200px;
    }
}

.logo svg {
    display: block;
    fill: var(--secondary-grey);
    -webkit-filter: none;      
    filter: none;
}

.scrolled .logo svg {
    transform: scale(0.5);
    transform-origin: center left;
    height: 40px;
}

.home .logo svg {
    display: block;
    fill: var(--white-color);
    -webkit-filter: drop-shadow(1px 1px 20px rgba(0,0,0,0.5));      
    filter: drop-shadow(1px 1px 20px rgba(0,0,0,0.5));
}

.home.scrolled .logo svg {
    fill: var(--secondary-grey);
    -webkit-filter: none;      
    filter: none;
}

.logo svg path.and {
    fill: #FF5349;
}

.main-menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    .transition04;
}

.main-menu li {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .main-menu li:nth-child(2),
    .main-menu li:nth-child(3),
    .main-menu li:nth-child(4),
    .main-menu li:nth-child(5) {
        display: none;
    }
}

.main-menu:hover a,
.main-menu:focus a {
    opacity: 0.5;
}

.main-menu a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: var(--secondary-grey);
    text-shadow: none;
    margin: 0 5px;
    padding: 8px 20px;
    position: relative;
}

.home .main-menu a {
    color: var(--white-color);
    text-shadow: 1px 1px 40px rgba(0,0,0,0.5);
}

.home.scrolled .main-menu a {
    color: var(--secondary-grey);
    text-shadow: none;
}

.main-menu:hover a:hover,
.main-menu:focus a:focus {
    opacity: 1;
}

.products-dropdown {
    position: fixed;
    overflow: auto;
    max-height: calc(100vh - 185px);
    max-height: ~"calc(100vh - 185px)";
    top: 95px;
    left: 50%;
    right: auto;
    bottom: auto;
    //height: auto;
    width: auto;
    min-width: 600px;
    padding: 40px 50px;
    color: var(--font-color);
    background-color: var(--white-color);
    box-shadow: 10px 10px 0 0 var(--light-grey);
    visibility: hidden;
    opacity: 0;
    /* Force Hardware Acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translate(-50%, 10px);
    transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
    z-index: 9;
    
    @media screen and (max-width: 768px) {
        padding: 30px 40px;
    }
    
    @media screen and (max-width: 600px) {
        min-width: 454px;
    }
    
    @media screen and (max-width: 480px) {
        min-width: 360px;
    }
}

/* custom scrollbar https://css-tricks.com/the-current-state-of-styling-scrollbars/ */
.products-dropdown {
    scrollbar-width: thin;
    scrollbar-color: var(--silver-grey);
}

.products-dropdown::-webkit-scrollbar-track {
	background: var(--primary-grey);
}

.products-dropdown::-webkit-scrollbar {
	width: 6px;
}

.products-dropdown::-webkit-scrollbar-thumb {
	background-color: var(--silver-grey);
    border-radius: 6px;
    border: 3px solid var(--silver-grey);
}
/* custom scrollbar ends */

.scrolled .products-dropdown {
    transform: translate(-50%, -34px);
}

.home .products-dropdown {
    background-color: var(--bg-color);
}

.main-menu a.dropdown-is-active {
    color: var(--font-color);
    background-color: var(--white-color);
    box-shadow: 10px 10px 0 0 var(--light-grey);
    .transition-delay02;
}

.home .main-menu a.dropdown-is-active {
    background-color: var(--bg-color);
}

.products-dropdown.dropdown-is-active {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
    transition: opacity 0.3s 0s, visibility 0.3s 0s, transform 0.3s 0s;
}

.scrolled .products-dropdown.dropdown-is-active {
    transform: translate(-50%, -44px);
}

.cd-close {
    display: none;
}

.dropdown-trigger::before,
.dropdown-trigger::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    width: 9px;
    background: var(--cta-red);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: width 0.3s, transform 0.3s;
}

.dropdown-trigger::before {
    right: 10px;
    transform: rotate(45deg);
}

.dropdown-trigger::after {
    right: 5px;
    transform: rotate(-45deg);
}

.dropdown-trigger.dropdown-is-active::before {
    /* transform the arrow into a 'X' */
    transform: translateX(2px) rotate(-45deg);
}

.dropdown-trigger.dropdown-is-active::after {
    /* transform the arrow into a 'X' */
    transform: translateX(-3px) rotate(45deg);
}



.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: auto;
    width: 32px;
    z-index: 5;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px 15px 20px 20px;
    background-color: transparent;
    .transition06;
}

.sidebar:hover,
.sidebar:focus {
    background-color: var(--white-color);
}

@media(hover: hover) and (pointer: fine) {
    .sidebar:hover {
        background-color: var(--white-color);
    }
}

.sidebar.opened {
    width: 250px;
    background-color: var(--white-color);
    .transition-delay00;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    transform: translateX(200px);
    .transition04;
    .transition-delay00;
}

.sidebar.opened ul {
    transform: translateX(0);
    .transition-delay02;
}

.sidebar li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    color: var(--font-color);
    line-height: 1.3;
    margin: 1em auto;
    .transition04;
}

.sidebar.opened li a {
    //flex-direction: row-reverse;
}

.sidebar li a:hover,
.sidebar li a:focus {
    color: var(--cta-red);
}

.sidebar li a span {
    display: flex;
    justify-content: flex-start;
    width: 200px;
    opacity: 0;
    margin: 0;
    transform: translateX(10px);
    .transition04;
}

.sidebar.opened li a span {
    transform: translateX(0);
    //justify-content: flex-end;
    opacity: 1;
}

.sidebar li a svg {
    display: block;
    fill: var(--font-color);
    width: 40px;
    height: 40px;
    transform: scale(0.4);
    .transition04;
}

.sidebar li a:hover svg,
.sidebar li a:focus svg {
    fill: var(--cta-red);
}

.sidebar:hover li a svg,
.sidebar:focus li a svg {
    transform: scale(0.6);
}

.sidebar.opened li a svg {
    transform: scale(0.8);
}

.sidebar .toggle-btn {
	position: relative;
    cursor: pointer;
    height: 22px;
    width: 22px;
    margin: 18px 5px auto 0;
    padding: 5px;
    transform: scale(0.7);
    .transition04;
}

.scrolled .sidebar .toggle-btn {
    margin: 30px 5px auto 0;
}

.sidebar:hover .toggle-btn,
.sidebar:focus .toggle-btn {
    transform: scale(1);
}

.sidebar .toggle-btn span {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: var(--cta-red);
    position: absolute;
    top: 15px;
    .transition04;
    
    @media screen and (max-width: 600px) {
        top: 5px;
    }
}

.sidebar .toggle-btn:hover span,
.sidebar .toggle-btn:focus span {
    background: var(--font-color);
}

.sidebar .toggle-btn span::before {
    content:"";
    width: 100%;
    height: 2px;
    background: var(--cta-red);
    position: absolute;
    top: -6px;
    left: 0;
    .transition04;
}

.sidebar .toggle-btn span::after {
    content:"";
    width: 100%;
    height: 2px;
    background: var(--cta-red);
    position: absolute;
    top: 6px;
    left: 0;
    .transition04;
}

.sidebar .toggle-btn:hover span,
.sidebar .toggle-btn:focus span,
.sidebar .toggle-btn:hover span::before,
.sidebar .toggle-btn:focus span::before,
.sidebar .toggle-btn:hover span::after,
.sidebar .toggle-btn:focus span::after {
    background: var(--font-color);
}

.sidebar .toggle-btn.toggle span {
    background: transparent;
}

.sidebar .toggle-btn.toggle span::before {
    top: 0;
    transform: rotate(45deg);
}

.sidebar .toggle-btn.toggle span:after {
    top: 0;
    transform: rotate(-45deg);
}



.filter {
    position: absolute;
    top: 150px;
    bottom: auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 3;
    
    @media screen and (max-width: 768px) {
        top: 120px;
    }
}

.home .filter {
    top: auto;
    bottom: 0;
}

.filter form {
    background-color: var(--font-color);
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0 0 var(--silver-grey);
    
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

/* https://codepen.io/raubaca/pen/VejpQP */
/* Reset Select */
.filter select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: var(--font-color);
    background-image: none;
}

/* Remove IE arrow */
.filter select::-ms-expand {
    display: none;
}

/* Custom Select */
.filter .select-wrapper {
    position: relative;
    display: flex;
    width: 234px;
    height: 50px;
    line-height: 50px;
    background: transparent;
    overflow: hidden;
    border-radius: 0;
    margin: 0 1em;
    border-bottom: 2px solid var(--white-color);
}

.filter select {
    flex: 1;
    padding: 0 1em;
    margin: 0;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: var(--white-color);
    cursor: pointer;
}

/* Arrow */
.filter .select-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    
    display: block;
    height: 50px;
    width: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='2048' height='2048' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='402' width='582' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath fill='%23ffffff' id='svg_1' d='m1799,349l242,241l-1017,1017l-1017,-1017l242,-241l775,775l775,-775z'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
}

/* Transition */
.filter .select-wrapper:hover::after {
    color: #f39c12;
}

.filter form button {
    line-height: 50px;
    height: 50px;
    padding: 0 30px;
    margin: 0 1em;
    
    @media screen and (max-width: 768px) {
        line-height: 40px;
        height: 40px;
        padding: 0 20px;
        margin: 1em 1em 0;
    }
}


/* Sections */
main {
    position: relative;
}

.home .billboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("../images/bg-01.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.home .billboard h1 {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
    color: var(--white-color);
    text-align: center;
    text-shadow: 1px 1px 60px rgba(0,0,0,0.5);
    z-index: 3;
    
    @media screen and (max-width: 768px) {
        padding: 0 2em;
        font-size: 32px;
    }
}

.billboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 330px;
    
    @media screen and (max-width: 768px) {
        height: 440px;
    }
}

.home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 65, 61, 0.15); //primary-color
    z-index: 2;
}

.fullmargin {
    margin-top: 100vh;
}

.halfmargin {
    margin-top: 50vh;
}

.nomargin {
    margin-top: 80px;
}

.wrapper {
	max-width: 1200px;
	height: auto;
	margin: 2em auto;
    padding: 4em 2em;
    position: relative;
}

@media (max-width: 1024px) {
    .wrapper {
        //padding-left: 2em;
        //padding-right: 2em;
    }
}

.features span {
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0;
    max-width: 100px;
}

.features .icon {
    width: 18px;
    height: 18px;
    margin: 5px 0;
}

.features .row {
    align-items: stretch;
}

.features .col {
    display: flex;
    align-items: flex-end;
    padding: 0;
    position: relative;
}

.features .col:last-child {
    background-color: var(--light-grey);
    box-shadow: 5px 5px 0 0 var(--silver-grey);
    align-items: flex-start;
}

.features .col .features-content {
    position: relative;
    width: 100%;
    padding: 6em 4em;
    
    @media screen and (max-width: 768px) {
        padding: 4em 4em 4em;
    }
}

.features .col .features-content h3 {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
    color: var(--secondary-grey);
    width: 100%;
    padding: 0;
}

.features .col .features-content h3::after {
    display: block;
    content: '';
    position: relative;
    margin: 20px 0 -20px;
    height: 4px;
    width: 40px;
    background-color: var(--font-color);
}

@media screen and (max-width: 768px) {
    .features .col:first-child .features-content h3 {
        text-align: right;
    }
    
    .features .col:first-child .features-content h3::after {
        margin: 20px 0 -20px auto;
    }
}

.features .col:last-child .features-content h3 {
    color: var(--font-color);
    text-align: right;
    position: relative;
    z-index: 1;
}

.features .col:last-child .features-content h3::after {
    display: none;
}

.features .col:last-child .features-content svg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
    height: 80%;
    fill: var(--silver-grey);
}


.efficiency {
    max-width: 960px;
	height: auto;
	margin: 4em auto;
    padding: 4em 4em;
    position: relative;
    text-align: center;
    
    @media screen and (max-width: 768px) {
        padding: 2em 4em;
    }
}

.efficiency h2 {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
}

.efficiency > svg {
    width: 36px;
    height: 36px;
    margin-bottom: 20px;
}


/* Aside */
aside {
    padding: 4em 0 0;
    
    @media screen and (max-width: 768px) {
        padding: 4em 0 6em;
    }
}

aside .row {
    margin-bottom: 0;
}

aside .col {
    padding: 4em 4em 8em;
    position: relative;
    background-color: var(--silver-grey);
    display: flex;
    flex-direction: column;
    
    @media screen and (max-width: 768px) {
        padding: 2em 0em 2em;
    }
}

aside .col:last-child {
    background-color: var(--bg-color);
}

aside .col h4 {
    font-family: 'Merriweather', serif;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    padding: 0;
}

aside .col p {
    font-size: 14px;
}

aside .card-body svg {
    width: 34px;
    height: 34px;
    margin-bottom: 10px;
}

.tellus {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: -6em;
    z-index: 3;
    
    @media screen and (max-width: 768px) {
        margin-bottom: -8em;
    }
}

.tellus .tellus-wrapper {
    width: 960px;
    max-width: 80%;
    background-color: var(--bg-color);
    box-shadow: 5px -5px 0 0 var(--silver-grey);
	height: auto;
    text-align: center;
    padding: 2em 3em;
    
    @media screen and (max-width: 768px) {
        padding: 1em;
    }
}

.tellus h3 {
    font-family: 'Merriweather', serif;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
}

.tellus .tellus-wrapper > svg {
    width: 34px;
    height: 34px;
    margin-bottom: 0;
}


/* Footer */
footer {
    position: relative;
    background-color: var(--secondary-grey);
    color: var(--white-color);
}

.footer-wrapper {
    max-width: initial;
    margin: 0 auto;
    padding: 8em 2em 2em;
	height: auto;
    position: relative;
    
    @media screen and (max-width: 768px) {
        padding: 8em 4em 2em;
    }
}

footer .col-2,
footer .col-3,
footer .col-4 {
    padding: 2em 0;
}

footer a {
    color: var(--white-color);
    border-bottom: 1px dotted var(--white-color);
}

footer a:hover,
footer a:focus {
    color: var(--cta-red);
    border: none;
}

footer h3 a {
    border-bottom: none;
    display: flex;
}

footer .contact h3 a svg {
    width: 32px;
    height: 32px;
    margin: 0 10px 0 -3px;
    fill: var(--white-color);
}

footer .contact h3 a:hover svg,
footer .contact h3 a:focus svg {
    fill: var(--cta-red);
}

footer p,
footer address {
    font-size: 14px;
    line-height: 2;
}

.icon-logo-footer {
    display: block;
    vertical-align: middle;
    width: 150px;
    height: 31px;
    margin-top: 2px;
}

footer h3 {
    font-family: 'Merriweather', serif;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
}

footer h3::after {
    display: block;
    content: '';
    position: relative;
    margin: 20px 0 20px;
    height: 2px;
    width: 30px;
    background-color: var(--white-color);
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: var(--white-color);
    text-shadow: 1px 1px 40px rgba(0,0,0,0.5);
    margin: 0;
    padding: 0.35em 1em 0.35em 0;
    border-bottom: none;
}

.footer-menu:hover a,
.footer-menu:focus a {
    opacity: 0.4;
}

.footer-menu:hover a:hover,
.footer-menu:focus a:focus {
    opacity: 1;
}

footer form {
    display: flex;
    flex-direction: row;
}

footer form input[type=email] {
    background-color: transparent;
    border-color: var(--white-color);
    color: var(--white-color);
}

footer form input[type=email]::placeholder {
    color: var(--bg-color);
}

.subfooter {
    position: relative;
    width: 100%;
	height: auto;
	margin: 1em auto 0;
    padding: 1.25em 0;
    background-color: var(--primary-color);
    text-align: center;
}

.subfooter p {
    font-size: 12px;
    margin-bottom: 0;
    color: var(--bg-color);
}

.subfooter a {
    margin: 0 10px;
    border-bottom: none;
}


/* Back to top */
.cd-top {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: none;
    fill: var(--primary-color);
    z-index: 99;
    
    span {
        display: none;
    }
}

.cd-top:hover,
.cd-top:focus {
    border: none;
    fill: var(--link-color);
}


/*--------------------*/

@import "plugins.less";
@import "pages.less";
@import "shop.less";
@import "blog.less";