/*! Blog */
// ==========================================================================

.blog-section {
    
    .col,
    [class^='col-'],
    [class*=" col-"] {
        margin-left: 4em;
        
        @media screen and (max-width: 768px) {
            margin-left: 0;
        }
    }
    
    .row > :first-child {
        margin-left: 0;
    }
}

.post-list {
    list-style: none;
    border-top: 3px solid var(--light-grey);
    display: grid;
    grid-gap: 30px 30px;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    list-style-type: none;
    padding: 40px 0;
    margin: 0;
}

.post-list li {
    display: flex;
    flex-direction: column;
    //border-top: 3px solid var(--light-grey);
    //border-bottom: 3px solid var(--light-grey);
    background-color: var(--white-color);
    box-shadow: 7px 7px 0 0 var(--silver-grey);
    padding: 15px;
    margin: 0;
    .transition04;
}

.post-list li:hover,
.post-list li:focus {
    box-shadow: 3px 3px 0 0 var(--silver-grey);
}

.post-list li a img {
    .transition04;
}

.post-list li a:hover img,
.post-list li a:focus img {
    opacity: 0.8;
}

.post-list li img {
    margin-bottom: 10px;
}

.post-list li h2 {
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;
}

.post-list li h2 a {
    color: var(--font-color);
}

.post-list li h2 a:hover,
.post-list li h2 a:focus {
    color: var(--cta-red);
}

.post-list .entry-meta {
    display: flex;
    margin-bottom: 12px;
}

.post-list .entry-meta span {
    padding: 2px 10px;
    font-size: 12px;
    color: var(--white-color);
    background-color: var(--light-grey);
}

.post-list .entry-content {
    flex: 1 0 auto;
    font-size: 16px;
}

.post-list .btn-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    margin-top: 15px;
}

@media (max-width: 640px) {
    .post-list {
        //grid-gap: 60px 10px;
        //grid-template-columns: repeat(auto-fit, minmax(154px, 1fr));
    }
}

/* Pagination */
.pagination ul {
    display: flex;
    align-items: center;
    margin: 30px 0 60px;
}

.pagination ul li {
    margin: 0 10px;
}

.pagination ul li:first-child {
    margin-left: 0;
}

.pagination ul li a,
.pagination ul li span {
    color: var(--font-color);
    font-weight: 700;
    padding: 10px 17px;
    box-shadow: 7px 7px 0 0 var(--silver-grey);
    background-color: var(--white-color);
}

.pagination ul li a {
    background-color: var(--cta-yellow);
}

.pagination ul li a:focus,
.pagination ul li a:hover {
    box-shadow: 3px 3px 0 0 var(--silver-grey);
}

.blog-section {
    
    .widget h3 {
        font-size: 18px;
        line-height: 1.5;
        text-transform: uppercase;
        font-weight: 700;
        border-bottom: 3px solid var(--light-grey);
        padding-bottom: 15px;
        margin-bottom: 25px;
    }
    
    .widget ul {
        list-style: none;
        margin-bottom: 50px;
    }
    
    .widget li {
        line-height: 1.2;
        margin-bottom: 20px;
    }
    
    .widget a {
        font-size: 16px;
        color: var(--font-color);
        text-transform: uppercase;
    }
    
    .widget a:hover,
    .widget a:focus {
        color: var(--cta-red);
    }
}

/* Single post */
.single-content {
    background-color: var(--white-color);
    box-shadow: 7px 7px 0 0 var(--silver-grey);
    padding: 20px;
    
    .col,
    [class^='col-'],
    [class*=" col-"] {
        margin-left: 2em;
        
        @media screen and (max-width: 768px) {
            margin-left: 0;
        }
    }
    
    .row > :first-child {
        margin-left: 0;
    }
}

.blog-section .single-content {
    
    h2 {
        font-size: 28px;
        line-height: 1.2;
        margin-top: 30px;
    }
    
    h3 {
        font-size: 24px;
        line-height: 1.2;
        margin-top: 34px;
    }
    
    h4 {
        font-size: 18px;
        line-height: 1.2;
        margin-top: 40px;
    }
    
    img {
        margin: 0 auto 20px;
    }
}

/* Categories */
.category-for {
    text-transform: uppercase;
}

.category-for span {
    text-transform: none;
}
