/*! Plugins */
// ==========================================================================

/* mgAccordion https://github.com/marqusG/mgAccordion */
.mg-accordion,
.mg-accordion ul {
	list-style-type: none;
    margin-bottom: 0;
}

.mg-accordion .submenu {
	display: none;
    margin-top: 14px;
    //background-color: var(--bg-color);
}

.products-menu,
.mg-flat {
	width: auto;
}

.mg-flat span.toggler{
	//float: right;
}

.products-menu ul ul {
    margin-left: 24px;
}

.products-menu li {
    margin-bottom: 14px;
}

.products-menu li.dropdown a,
.products-menu li a {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    line-height: 36px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--font-color);
    border-bottom: 3px solid var(--font-color);
    text-decoration: none;
    padding: 0;
}

.products-menu li.dropdown a .count,
.products-menu li a .count {
    font-weight: 400;
    margin-left: 20px;
}

.products-menu li a::before {
    /*position: relative;
    content: '';
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cpath d='M113.6 498C52 498 2 448 2 386.4s50-111.6 111.6-111.6 111.6 50 111.6 111.6S175.2 498 113.6 498zm272.8 0c-61.6 0-111.6-50-111.6-111.6s50-111.6 111.6-111.6S498 324.8 498 386.4 448 498 386.4 498zM113.6 225.2C52 225.2 2 175.2 2 113.6S52 2 113.6 2s111.6 50 111.6 111.6-50 111.6-111.6 111.6zm272.8 0c-61.6 0-111.6-50-111.6-111.6S324.8 2 386.4 2 498 52 498 113.6s-50 111.6-111.6 111.6zm0-49.6c34.2 0 62-27.8 62-62s-27.8-62-62-62-62 27.8-62 62 27.8 62 62 62zm-272.8 0c34.2 0 62-27.8 62-62s-27.8-62-62-62-62 27.8-62 62 27.8 62 62 62zm272.8 272.8c34.2 0 62-27.8 62-62s-27.8-62-62-62-62 27.8-62 62 27.8 62 62 62zm-272.8 0c34.2 0 62-27.8 62-62s-27.8-62-62-62-62 27.8-62 62 27.8 62 62 62z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
    margin: 0 40px 0 0;*/
}

.products-menu li.dropdown a:hover,
.products-menu li a:hover,
.products-menu li.dropdown a:focus,
.products-menu li a:focus {
    background-color: var(--bg-color);
}

.home .products-menu li.dropdown a:hover,
.home .products-menu li a:hover,
.home .products-menu li.dropdown a:focus,
.home .products-menu li a:focus {
    background-color: var(--white-color);
}

.products-menu .submenu li.dropdown a,
.products-menu .submenu li a {
    border-bottom-width: 1px;
    border-bottom-color: var(--primary-grey);
}

.products-menu li a.openItem {
	
}

.products-menu li a span.toggler {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    margin-left: auto;
}

.products-menu li a.openItem span {
	//transform: rotate(180deg);
}

.products-menu li a span.toggler::after {
    position: relative;
    content: '+';
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--cta-yellow);
    box-shadow: 4px 4px 0 0 var(--light-grey);
	transition: all 0.4s;
    margin-left: 100px;
    margin-right: 4px;
    margin-bottom: 5px;
}

.products-menu li a:hover span.toggler::after {
    box-shadow: 2px 2px 0 0 var(--light-grey);
}

.products-menu li a.openItem span.toggler::after {
    content: '-';
}


/* Search & Filter Styles */
.searchandfilter p {
	margin-top: 1em;
	display: inline-block;
}

.searchandfilter ul {
	display: inline-block;
}

.searchandfilter li {
	list-style: none;
	display: inline-block;
	padding-right: 10px;
}

/* If in a widget area make a single column by adding display block  */
.widget-area .searchandfilter li,
.widget-area .searchandfilter p {
	display: block;
}

.searchandfilter label {
	display: block;
}

.searchandfilter h4 {
	margin: 15px 0;
	font-size: 16px;
}

.searchandfilter ul > li > ul:not(.children) {
	margin-left: 0;
}

/**
 * 11.0 EU popup
 * ----------------------------------------------------------------------------
 */
/**
 *
 * JQUERY EU COOKIE LAW POPUPS
 * version 1.1.1
 *
 * Code on Github:
 * https://github.com/wimagguc/jquery-eu-cookie-law-popup
 *
 * To see a live demo, go to:
 * http://www.wimagguc.com/2018/05/gdpr-compliance-with-the-jquery-eu-cookie-law-plugin/
 *
 * by Richard Dancsi
 * http://www.wimagguc.com/
 *
 */
.clearfix {
	clear: both;
}

.eupopup-container {
	background-color: rgba(1, 17, 21, 0.9);
	color: #efefef;
	padding: 5px 20px;
	font-size: 12px;
	line-height: 1.2em;
	text-align: center;
	display: none;
	z-index: 9999999;
    
    box-shadow: 6px 6px 0 0 var(--secondary-grey);
}

.eupopup-container-top,
.eupopup-container-fixedtop {
	position: absolute;
	top: 0; left: 0; right: 0;
}

.eupopup-container-fixedtop {
	position: fixed;
}

.eupopup-container-bottom {
	position: fixed;
	bottom: 0; left: 0; right: 0;
}

.eupopup-container-bottomleft {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 300px;
}

.eupopup-container-bottomright {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 300px;
    
    @media screen and (max-width: 414px) {
        bottom: 0;
        right: 0;
        left: 0;
        width: auto;
    }
}

.eupopup-closebutton {
    position: absolute;
	top: 0;
    right: 0;
    height: 18px;
    width: 18px;
	padding: 2px 4px;
}

.eupopup-closebutton svg {
    height: 18px;
    width: 18px;
    fill: var(--cta-yellow);
    pointer-events: none;
    vertical-align: top;
}

.eupopup-closebutton:hover,
.eupopup-closebutton:active {
	color: #fff;
	text-decoration: none;
}

.eupopup-closebutton:hover svg,
.eupopup-closebutton:active svg {
    fill: var(--cta-yellow-light);
}

.eupopup-head {
	font-size: 1.2em;
	font-weight: bold;
	padding: 7px;
	color: #fff;
}

.eupopup-body {
	color: #a2a2a2;
}

.eupopup-buttons {
	padding: 14px 0 14px 0;
}

.eupopup-button_1 {
	color: var(--cta-yellow);
	font-weight: bold;
	font-size: 14px;
}

.eupopup-button_2 {
	color: var(--cta-yellow);
	font-weight: normal;
	font-size: 12px;
}

.eupopup-button {
	margin: 0 10px;
    padding: 10px;
}

.eupopup-button:hover,
.eupopup-button:focus {
	text-decoration: underline;
	color: var(--cta-yellow-light);
}

body .eupopup-color-inverse {
	color: #000;
	background-color: rgba(255, 255, 255, 0.9);
}

body .eupopup-color-inverse .eupopup-head {
	color: #000;
}

body .eupopup-style-compact {
	text-align: left;
	padding: 8px 30px 7px 20px;
	line-height: 15px;
}

body .eupopup-style-compact .eupopup-head,
body .eupopup-style-compact .eupopup-body,
body .eupopup-style-compact .eupopup-buttons {
	display: inline;
	padding: 0;
	margin: 0;
}

body .eupopup-style-compact .eupopup-button {
	margin: 0 5px;
}

